
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.testimonial{
    background-color:#ccd2de;
    height: 100vh;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-container{
    background-color: white;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    height: max-content;
    width: 600px;
}
.card-container img{
    position: relative;
    left: -220px;
    top: -90px;
    height: 100px;
    border-radius: 50%;
}
.card-names{
    position: relative;
    top: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-name{
    color: black;
    font-size: x-large;
    font-weight: 900;
}
.card-role{
    color:#b1b5bf;
    font-size: large;
}
.left-quote{
    position: relative;
    top: -80px;
    color:#7380a0;
}
.right-quote{
    position: relative;
    top: -60px;
    color:#7380a0;
}
.card-text{
    text-align: center;
    position: relative;
    top: -70px;
    color:#5d6989;
}
.card-left-right{
    position: relative;
    top: -30px;
    color:#7380a0;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.left-btn{
    cursor: pointer;
    height: 30px;
}
.right-btn{
    cursor: pointer;
    height: 30px;
}
.surprise-btn{
    border: none;
    color: white;
    background-color: #8b5cf6;
    padding: 0.5rem;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
}